/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --section_title_colour: #353430;
  --button_colour: #353430;
  --button_border: 1px solid rgba(50, 49, 45, 0.4);
  --background_image: url(../images/cover-image-light.png);
  --main_title_colour: #ffc2e6;
  --accent_colour: #ff8dcb;
  --accent_colour_font: #353430;
  --section_font_colour: #353430;
  --main_font: IBM Plex Mono;
  --background_color: #fff1f7;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme_light .header_decoration {
  display: none;
}

@media (prefers-color-sceme: light) {
  :root {
    --section_title_colour: #353430;
    --button_colour: #353430;
    --button_border: 1px solid rgba(50, 49, 45, 0.4);
    --background_image: url(../images/cover-image-light.png);
    --main_title_colour: #ffc2e6;
    --accent_colour: #ff8dcb;
    --accent_colour_font: #353430;
    --section_font_colour: #353430;
    --main_font: IBM Plex Mono;
    --background_color: #fff1f7;
  }

  .header_decoration {
    display: none;
  }
}
