.page {
  background-image: var(--background_image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-shadow: 2px 2px 0 var(--accent_colour);
  text-decoration: none;
  border-block-end: 1px solid transparent;
}

a:hover {
  border-block-end: 1px solid var(--section_font_colour);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--section_font_colour);
}

.header {
  min-block-size: 100vh;
  padding: var(--padding_clamp);
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  align-items: center;
  grid-template-areas:
    "header_nav header_nav"
    "header_title header_title"
    ". header_description";
}

.decorated-zone {
  position: relative;
  padding: var(--padding_clamp);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: var(--padding_clamp);
  inset-inline-end: var(--padding_clamp);
  border-block-start: 1px solid var(--accent_colour);
  border-inline-end: 1px solid var(--accent_colour);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: var(--padding_clamp);
  inset-inline-start: var(--padding_clamp);
  border-block-end: 1px solid var(--accent_colour);
  border-inline-start: 1px solid var(--accent_colour);
}

.header__theme-menu {
  grid-area: header_nav;
  align-self: flex-start;
  justify-self: center;
  width: 100%;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 11px;
  width: 100%;
}

.header__theme-menu-button {
  padding: 3px 12px;
  font-family: var(--main_font), var(--fallback_font);
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: var(--button_colour);
  font-size: 18px;
  border: 1px solid var(--button_colour);
  border-color: transparent;
  transition: all 0.2s;
}

.header__theme-menu-button:hover {
  border: var(--button_border);
  transition: all 0.4s;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: 1px solid var(--button_colour);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button_colour);
}

.header_title {
  grid-area: header_title;
  color: var(--main_title_colour);
  text-shadow: 4px 4px 0px var(--accent_colour);
  font-family: var(--main_font), var(--fallback_font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  transform: translateX(-20px);
}

.title_decor {
  background-color: var(--accent_colour);
  color: var(--accent_colour_font);
  font-size: 18px;
  font-family: var(--main_font), var(--fallback_font);
  font-weight: 700;
  line-height: 23.4px;
}

.header_description {
  max-width: 491px;
  grid-area: header_description;
  justify-self: end;
}

.header_decoration {
  position: absolute;
  inset-block-start: var(--padding_clamp);
  inset-inline-end: var(--padding_clamp);
  block-size: 26px;
  inline-size: 33px;
}

.header_decoration::before {
  position: absolute;
  content: "REC";
  color: var(--accent_colour);
  font-family: var(--main_font), var(--fallback_font);
  inset-inline-end: 28px;
  block-size: 26px;
  inline-size: 33px;
  font-size: 18px;
  line-height: 25px;
}

.header_decoration::after {
  position: absolute;
  content: "";
  block-size: 9px;
  inline-size: 9px;
  inset-block-start: 8px;
  inset-inline-end: 9px;
  background-color: var(--accent_colour);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent_colour));
}

/* sections */

/* section 1 */

.section_padding {
  padding-top: clamp(2.5rem, 5.089vw + 1.307rem, 3.75rem);
}

.section_info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto-fit, min-content);
  column-gap: 12px;
  grid-template-areas:
    "section_title card_title"
    ". card_content";

  padding-right: var(--padding_clamp);
  padding-left: var(--padding_clamp);
}

.section_title {
  color: var(--section_title_colour);
  font-family: var(--main_font), var(--fallback_font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  grid-area: section_title;
}

.card_item:not(:last-child) {
  margin-bottom: 20px;
}

.card_title,
.gallery_title {
  font-size: 18px;
}

.card_title {
  grid-area: card_title;
  margin-bottom: 10px;
}

.card_content {
  color: var(--section_font_colour);
  font-family: var(--main_font), var(--fallback_font);
  font-size: 18px;
  line-height: 23.4px;
  grid-area: card_content;
}

/* section 2 */

.section_info_concentration {
  margin-top: clamp(3.125rem, 7.634vw + 1.336rem, 5rem);
  padding-right: var(--padding_clamp);
  padding-left: var(--padding_clamp);
  display: flex;
  flex-direction: column;
}

.title_margin {
  margin-bottom: 20px;
  width: 315px;
}

.card_list_concentration_tips {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card_item_concentration_tips {
  width: 100%;
}

/* section 3 */

.section_margin {
  margin-top: clamp(3.125rem, 7.634vw + 1.336rem, 5rem);
}

.card_title_margin {
  margin-bottom: 20px;
}

.card_title_font_weight {
  font-weight: 400;
}

/* галлерея */

.section_gallery {
  padding-left: var(--padding_clamp);
  padding-right: var(--padding_clamp);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "sunset sunset icecream"
    "tape books icecream"
    "tape street street";
  gap: 20px;
  padding-bottom: clamp(2.5rem, 5.089vw + 1.307rem, 3.75rem);
}

.gallery_title {
  margin-top: clamp(3.125rem, 7.634vw + 1.336rem, 5rem);
  margin-bottom: var(--padding_clamp);
}

.gallery_img {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.sunset_img {
  grid-area: sunset;
}

.icecream_img {
  grid-area: icecream;
}

.tape_img {
  grid-area: tape;
}

.books_img {
  grid-area: books;
}

.street_img {
  grid-area: street;
}

/* footer */

.footer {
  min-block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: var(--main_font), var(--fallback_font);
  color: var(--main_title_colour);
  text-shadow: 2px 2px 0 var(--accent_colour);
}

/* разрешения экранов */

@media (max-width: 768px) {
  .header__theme-menu {
    height: 100%;
  }

  .header__theme-menu-list {
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    transform: translateX(10px);
  }
  .header__theme-menu-item {
    margin-right: 11px;
    margin-bottom: 5px;
  }

  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header_description {
    max-width: 364px;
  }

  .section_info {
    grid-template-columns: fit-content(236px) 2fr;
    grid-template-rows: repeat(auto-fit, min-content);
    column-gap: 20px;
  }

  .section_title {
    max-width: 236px;
  }

  .card_list_concentration_tips {
    display: block;
  }
}

@media (max-width: 375px) {
  .header {
    grid-template-areas:
      "header_nav header_nav"
      "header_title header_title"
      "header_description header_description";
  }

  .header_title {
    font-size: clamp(7.25rem, 7.011rem + 1.018vw, 7.5rem);
    transform: translateX(0px);
  }

  .section_info {
    display: block;
  }

  .section_title {
    max-width: initial;
    margin-bottom: 20px;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
      "sunset"
      "icecream"
      "tape"
      "books"
      "street";
    gap: 10px;
    padding-bottom: clamp(2.5rem, 5.089vw + 1.307rem, 3.75rem);
  }

  .footer_title {
    font-size: clamp(7.25rem, 7.011rem + 1.018vw, 7.5rem);
    margin-left: 4px;
  }
}
